*,
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(190, 4, 4);
  text-align: center;
  padding: 25px;
  color: white;
}
.mask {
  display: block;
  width: 240px;
  height: 240px;
  margin: 60px auto 20px auto;
  border-radius: 50%;
}
.buttonBella {
  display: block;
  width: 250px;
  background-color: white;
  border: 3px solid rgb(188, 161, 6);
  padding: 20px 25px;
  font-size: 30px;
  color: rgb(90, 88, 88);
  font-weight: bold;
  margin: 40px auto;
}
.watchnow {
  display: block;
  width: 370px;
  background-color: rgb(224, 70, 70);
  border: none;
  padding: 10px 25px;
  margin: 40px auto;
  font-size: 25px;
  color: white;
}
.watchnow:hover {
  box-shadow: 0 0 15px 3px #ba042d;
  border: none;
}

.addto {
  display: block;
  width: 370px;
  background-color: white;
  border: 1.5px solid red;
  padding: 12px 25px;
  margin: 0 auto 30px auto;
  font-size: 25px;
  color: black;
}
.addto:hover {
  box-shadow: 0 0 15px 3px #ede570;
  border: none;
}
footer {
  background-color: rgb(190, 4, 4);
  color: white;
  display: block;
  font-size: 16px;
  display: flex;
  justify-content: center;
}
footer p {
  padding: 30px 20px;
}
footer p a {
  color: white;
  text-decoration: none;
  border-bottom: 2px dashed;
}
footer p a:hover {
  color: blue;
  text-decoration: underline;
  border-bottom: 2px dashed white;
}
